@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@40,400,0,200&icon_names=music_note,music_off');

* {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    background-image: url("assets/sawah.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

input {
    font-size: 2vmin;
    font-weight: normal;
    padding: 1.3vmin 2.97vmin;
    border-radius: 2vmin;
    border-style: none;
    background-color: #B1DD9E;
}

input[type=number] {
    width: 58vw;
    background-color: white;
}

input[type=button]:hover {
    cursor: pointer;
    transition: 0.3s;
    filter: brightness(110%);
}

button {
    cursor: pointer;
    padding: 1.3vmin 1.3vmin;
    border-radius: 2vmin;
    border-style: none;
}

button:hover {
    transition: 0.3s;
    background-color: #B1DD9E;
}

.content {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 5.927vmin;
    box-sizing: border-box;
    font-size: 2vmin;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;
    margin-bottom: -4vmin;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.title img {
    font-family: "Gloock", serif;
    font-size: 8.8vmin;
    width: 55.2vmin;
}

.input, .selector {
    display: flex;
    flex-direction: row;
    gap: 1.114vmin;
    padding: 1.114vmin;
    border-radius: 3vmin;
    border-style: none;
    background-color: #7A9F79;
}

.selector {
    gap: 0;
}

.disabled {
    background-color: #7A9F79;
    color: white;
}

.process, .done {
    display: none;
}

.process.active {
    display: initial;
    width: 46.5vmin
}

.done.active {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.done h2{
    font-size: 6vmin;
    font-style: italic;
    font-weight: 500;
    background-color: #B1DD9E;
    padding: 1.3vmin 2.97vmin;
    border-radius: 3vmin;
}

.foot {
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.note {
    font-size: 1.3vmin;
    font-style: italic;
}

.material-symbols-rounded {
    font-size: 2.6vmin;
}

@media (max-width: 768px) {
    .content {
        padding: 4vmin;
        font-size: 2.2vmin;
    }

    .main {
        gap: 20px;
    }

    .title img {
        width: 60vmin;
        font-size: 6vmin;
    }

    input {
        font-size: 3vmin;
        padding: 1.5vmin 3vmin;
    }

    input[type=number] {
        width: 80%;
    }

    input[type=button] {
        font-size: 3vmin;
    }

    .process.active {
        width: 60vmin;
    }

    .done h2 {
        font-size: 5vmin;
        padding: 1.5vmin 3vmin;
    }

    .note {
        font-size: 2vmin;
        text-align: center;
    }

    .material-symbols-rounded {
        font-size: 3vmin;
    }

    .foot {
        flex-direction: column;
        align-items: center;
        gap: 3vmin;
        font-size:  2.2vmin;
    }
}

@media (max-width: 480px) {
    .content {
        padding: 3vmin;
        font-size: 2vmin;
    }

    .main {
        gap: 16px;
    }

    .title img {
        width: 70vmin;
        font-size: 5vmin;
    }

    input {
        font-size: 3.5vmin;
        padding: 1.5vmin 3vmin;
    }

    input[type=number] {
        width: 90%;
    }

    input[type=button] {
        font-size: 3.5vmin;
    }

    .process.active {
        width: 70vmin;
    }

    .done h2 {
        font-size: 4.5vmin;
        padding: 1.5vmin 3vmin;
    }

    .note {
        font-size: 2.2vmin;
        text-align: center;
    }

    .material-symbols-rounded {
        font-size: 2.5vmin;
    }

    .foot {
        flex-direction: column;
        align-items: center;
        gap: 3vmin;
        font-size: 4vmin;
    }
}
  